body{
    font-family: Verdana;
    text-align: center;
}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    margin-bottom: 15px;
}

label{
    font-size: 3em;
    border: 2px solid black; 
    padding:5px;

}